/***** BASE STYLES *****/

body {
  font-family: 'Work Sans', sans-serif;
  color: #353B3C;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** MAIN HEADER & HOME PAGE *****/

header {
  text-align: center;
}

header h1 {
  padding: 0;
  margin: 0 auto;
  font-family: 'Damion', cursive;
  font-size: 75px;
}

header h1 a {
  text-decoration: none;
  color: #353B3C;
}

header h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: #353B3C;
  padding: 0;
  margin: 0 auto;
}

nav {
  padding: 25px 12px 0 12px;
}

nav ul li{
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #353B3C;
  padding: 0 20px;
}

nav a:hover {
  color: #A2999E;
}

#hero-img {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.social {
  font-size: 14px;
  font-weight: 400;
  left: 30px;
  top: 230px;
  position: fixed;
  z-index: 99999;
}

.social a {
  margin: 0 0 10px;
  padding: 15px;
  display: block;
}

.body {
  text-align: center;
}

.body h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 36px;
  padding: 20px 0 12px 0;
  margin: 0 auto;
}

.body h3 {
  font-family: 'Work Sans', sans-serif;
  padding: 10px 0 7px 0;
  margin: 0 auto;
}

.body a {
  text-decoration: none;
  color: #353B3C;
}

.body a:hover {
  color: #A2999E;
}

.body img {
  margin: 0 auto;
  padding: 11px 11px 25px 11px;
}

/***** PORTFOLIO PAGE *****/

.portfolio {
  text-align: center;
  margin: 0 auto;
}

.portfolio h2 {
  background-color: #effdfe;
  font-family: 'Work Sans', sans-serif;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.portfolio h3 span {
  padding-top: 67px;
  margin: 0 auto;
}

.portfolio h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  margin: 0 auto;
  padding: 50px 0 10px 0;
}

.portfolio a {
  text-decoration: none;
  color: #353B3C;
}

.portfolio a:hover {
  color: #A2999E;
}

.zoom {
  padding: 10px;
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 400px;
  height: 241px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2.0);
}

.zoom-portrait {
  padding: 20px;
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 350px;
  height: 595px;
  margin: 0 auto;
}

.zoom-portrait:hover {
  transform: scale(1.5);
}

.portfolio img {
  border: 1px dotted gray;
}

.portfolio p {
  margin: 0 auto;
}

.portfolio .triangles {
  margin: 0 auto;
  padding: 15px 407px 60px 407px;
  height: auto;
  width: 300px;
  border: none;
}

/***** ABOUT PAGE *****/

.about h2 {
  background-color: #effdfe;
  font-family: 'Work Sans', sans-serif;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.about h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  padding: 50px 0 0 50px;
  margin: 0 auto;
}

.about p {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #7f7f7f;
  line-height: 25px;
  padding: 0 50px;
}

.about img {
  padding: 50px 30px 20px 30px;
  float: left;
}

.about .triangles {
  margin: 0 auto;
  padding: 15px 407px 60px 407px;
  height: auto;
  width: 300px;
}

/***** SERVICES PAGE *****/

.services .intro {
  padding-top: 50px;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  line-height: 25px;
}

.services .intro::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 25px;
  border-bottom: 3px dotted black;
}

.services img {
  float: left;
  padding: 60px 20px 15px 40px;
}

.services h2 {
  background-color: #effdfe;
  font-family: 'Work Sans', sans-serif;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.services h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  margin: 0 auto;
  padding: 58px 0  0 50px;
}

.services ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.services p {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding: 0 50px;
  color: #7f7f7f;
  margin: 15px auto;
}

.services a {
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: #353B3C;
  font-weight: bold;
  font-size: 14px;
}

.services a:hover {
  color: #EF476F;
}

.services .triangles {
  margin: 0 auto;
  padding: 15px 407px 60px 407px;
  height: auto;
  width: 300px;
}

/***** CONTACT *****/

.contact h2 {
  background-color: #effdfe;
  font-family: 'Work Sans', sans-serif;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.contact h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  padding: 50px 0 20px 0px;
  margin: 0 auto;
}

.contact p {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #7f7f7f;
  line-height: 25px;
  padding: 5px 50px;
  margin: 0 auto;
}

.contact #contact-image {
  padding: 50px 30px 20px 30px;
  float: left;
}

.contact #envelope {
  position: relative;
  top: 9px;
}

.contact a {
  text-decoration: none;
  color: #353B3C;
  font-weight: bold;
  font-size: 20px;
}

.contact a:hover {
  color: #EF476F;
}

.contact .resume::before {
  content: "";
  display: block;
  margin: 25px auto;
  width: 50%;
  padding-top: 190px;
  border-bottom: 3px dotted black;
  text-align: center;
}

.contact .resume {
  text-align: center;
}

.contact iframe {
  margin: 0 355px;
}

.contact .triangles {
  margin: 0 auto;
  padding: 15px 407px 60px 407px;
  height: auto;
  width: 300px;
}

/***** FOOTER *****/

.footer {
  background-color: #D1B3C4;
  text-align: center;
}

.footer .full-width {
  padding: 70px 0;
}

.footer h2 {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  line-height: 44px;
}

.footer #email-header {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  margin: -30px 0 5px 0;
}

.footer #envelope {
  position: relative;
  top: 9px;
}

.footer a {
  text-decoration: none;
  color: #FAF9F9;
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 10px 0;
}

.footer a:hover {
  color: #EF476F;
}

.footer p img {
  padding: 70px 0 5px 0;
  margin: 0 auto;
}

.footer p {
  padding-top: 5px;
  margin: 0 auto;
  font-size: 12px;
  font-style: italic;
}
